<a href="https://colab.research.google.com/github/anushka-code/Code-Smell-Classification/blob/main/Code_Smell_Classification_Deep_Learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##Structural Branch of the NN-Architecture : CNN 1-D for Structural Object Oriented Metric Feature Extraction

##Code Smells Targetted: 


1.   Long Parameters List
2.   Switch Statements

###Install Libraries

In [1]:
import numpy as np
import pandas as pd
import tensorflow
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Input, Convolution1D, MaxPooling1D, Flatten, Dense, Dropout
from keras.utils import np_utils
import sklearn
from sklearn.preprocessing import MinMaxScaler
import imblearn
from imblearn.over_sampling import SMOTE

###Mounting Google Drive

In [2]:
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
    
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

###Dataset Loader

In [3]:
def DataLoader(link, name_of_file):
  id = link.split("/")[-2]
  downloaded = drive.CreateFile({'id':id}) 
  downloaded.GetContentFile(name_of_file)
  dataframe = pd.read_csv(name_of_file)
  return dataframe

link1 = 'https://drive.google.com/file/d/1EfbAqgr7i9h4yFwEoU3igG34Gt48l6WT/view?usp=sharing'
link2 = 'https://drive.google.com/file/d/1Ya1OMWsz1yyXAaZheIck-roX0M9UWiqg/view?usp=sharing'
name1 = 'long_parameters_list_structural.csv'
name2 = 'switch_statements_structural.csv'

df_lp = DataLoader(link1, name1)
df_ss = DataLoader(link2, name2)

Long Parameters List Dataset

In [4]:
df_lp.head(5)

   NOP_method  CC_method  ... LOC_project is_long_parameters_list
0           0          0  ...       65687                   False
1           0          0  ...       65687                   False
2           1          0  ...       65687                   False
3           0          5  ...       65687                   False
4           1          0  ...       65687                   False

[5 rows x 57 columns]

Switch Statements Dataset

In [5]:
df_ss.head(5)

   NOP_method  CC_method  ... LOC_project is_switch_statements
0           1          2  ...       65687                False
1           0          0  ...       65687                False
2           2          0  ...       65687                False
3           0          0  ...       65687                False
4           0          0  ...       65687                False

[5 rows x 57 columns]

### Data Pre-Processing

In [6]:
def PrePro(last_column, dataframe):
  dataframe.rename(columns = {last_column :'is_code_smell'}, inplace = True)
  dataframe['is_code_smell'] = dataframe["is_code_smell"].astype(int)
  Y_part = dataframe.iloc[:,-1:]
  X_part = dataframe.iloc[:,:56]
  X_part = X_part.replace(to_replace =["?"], value = np.nan)
  X_part = X_part.astype(float)
  return X_part,Y_part

X_lp, Y_lp = PrePro('is_long_parameters_list',df_lp)
X_ss, Y_ss = PrePro('is_switch_statements',df_ss)

In [7]:
def MeanforNaN(dataframe):  
  column_means = dataframe.mean()
  dataframe = dataframe.fillna(column_means)
  return dataframe

X_lp = MeanforNaN(X_lp)
X_ss = MeanforNaN(X_ss)

In [8]:
def ConCat(df1,df2):
  code_smells = [df1,df2]
  joint = pd.concat(code_smells)
  return joint

X_train = ConCat(X_lp,X_ss)
Y_train = ConCat(Y_lp,Y_ss)

###Data Normalization

In [9]:
def Normalize(dataframe):
  scaler = MinMaxScaler()
  model = scaler.fit(dataframe)
  scaled_data = model.transform(dataframe)
  return scaled_data

X_sample = Normalize(X_train)

###SMOTE's Algo : Oversampling smelly samples (minority class)

In [10]:
Y_train.value_counts() #1/3rd are smelly, 2/3rd are non smelly

is_code_smell
0                573
1                267
dtype: int64

In [11]:
Y_sample = Y_train.to_numpy(dtype='int64', copy='True')

In [12]:
def Oversample(X_data,Y_data):

  sm = SMOTE(random_state = 2)
  X_train_res, Y_train_res = sm.fit_resample(X_data, Y_data.ravel())
  return X_train_res, Y_train_res

X_new, Y_new = Oversample(X_sample,Y_sample)

### 1-D CNN Implementation

In [14]:
X_train_final = X_new.reshape((1146,56,1))

In [17]:
  model = Sequential()
  model.add(Convolution1D(filters=128, kernel_size=3, activation='tanh', input_shape=(56,1)))
  model.add(Convolution1D(filters=128, kernel_size=3, activation='tanh'))
  model.add(Convolution1D(filters=128, kernel_size=5, activation='tanh'))
  model.add(MaxPooling1D(pool_size=2))
  model.add(Flatten())
  model.add(Dense(1, activation='sigmoid'))
  model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
  model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 conv1d (Conv1D)             (None, 54, 128)           512

 conv1d_1 (Conv1D)           (None, 52, 128)           49280

 conv1d_2 (Conv1D)           (None, 48, 128)           82048

 max_pooling1d (MaxPooling1D  (None, 24, 128)          0
 )

 flatten (Flatten)           (None, 3072)              0

 dense (Dense)               (None, 1)                 3073

=================================================================
Total params: 134,913
Trainable params: 134,913
Non-trainable params: 0
_________________________________________________________________

In [19]:
hist = model.fit(X_train_final,Y_new,epochs=30,shuffle=True,batch_size=50,validation_split=0.20)

Epoch 1/30
19/19 [==============================] - 5s 130ms/step - loss: 0.6316 - accuracy: 0.6769 - val_loss: 0.8063 - val_accuracy: 0.4739
Epoch 2/30
19/19 [==============================] - 3s 147ms/step - loss: 0.4980 - accuracy: 0.7609 - val_loss: 0.4791 - val_accuracy: 0.6957
Epoch 3/30
19/19 [==============================] - 2s 113ms/step - loss: 0.4404 - accuracy: 0.8013 - val_loss: 0.3898 - val_accuracy: 0.8261
Epoch 4/30
19/19 [==============================] - 2s 111ms/step - loss: 0.3980 - accuracy: 0.8362 - val_loss: 0.6090 - val_accuracy: 0.6217
Epoch 5/30
19/19 [==============================] - 2s 96ms/step - loss: 0.3657 - accuracy: 0.8308 - val_loss: 0.2639 - val_accuracy: 0.8870
Epoch 6/30
19/19 [==============================] - 2s 78ms/step - loss: 0.3594 - accuracy: 0.8493 - val_loss: 0.6656 - val_accuracy: 0.6522
Epoch 7/30
19/19 [==============================] - 1s 60ms/step - loss: 0.3363 - accuracy: 0.8395 - val_loss: 0.2893 - val_accuracy: 0.8739
Epoch 8/30
19/19 [==============================] - 1s 60ms/step - loss: 0.3030 - accuracy: 0.8635 - val_loss: 0.4594 - val_accuracy: 0.7783
Epoch 9/30
19/19 [==============================] - 1s 59ms/step - loss: 0.2803 - accuracy: 0.8777 - val_loss: 0.5258 - val_accuracy: 0.7217
Epoch 10/30
19/19 [==============================] - 1s 60ms/step - loss: 0.2809 - accuracy: 0.8777 - val_loss: 0.2824 - val_accuracy: 0.8652
Epoch 11/30
19/19 [==============================] - 1s 59ms/step - loss: 0.2710 - accuracy: 0.8788 - val_loss: 0.1490 - val_accuracy: 0.9261
Epoch 12/30
19/19 [==============================] - 1s 59ms/step - loss: 0.2557 - accuracy: 0.8832 - val_loss: 0.2052 - val_accuracy: 0.9130
Epoch 13/30
19/19 [==============================] - 1s 60ms/step - loss: 0.2369 - accuracy: 0.8919 - val_loss: 0.2149 - val_accuracy: 0.9130
Epoch 14/30
19/19 [==============================] - 1s 60ms/step - loss: 0.2608 - accuracy: 0.8821 - val_loss: 0.6469 - val_accuracy: 0.6739
Epoch 15/30
19/19 [==============================] - 1s 60ms/step - loss: 0.2716 - accuracy: 0.8854 - val_loss: 0.0835 - val_accuracy: 0.9913
Epoch 16/30
19/19 [==============================] - 1s 59ms/step - loss: 0.2373 - accuracy: 0.8941 - val_loss: 0.3582 - val_accuracy: 0.8391
Epoch 17/30
19/19 [==============================] - 1s 59ms/step - loss: 0.2032 - accuracy: 0.9116 - val_loss: 0.1855 - val_accuracy: 0.9435
Epoch 18/30
19/19 [==============================] - 1s 60ms/step - loss: 0.1999 - accuracy: 0.9170 - val_loss: 0.1565 - val_accuracy: 0.9478
Epoch 19/30
19/19 [==============================] - 1s 59ms/step - loss: 0.1932 - accuracy: 0.9094 - val_loss: 0.0889 - val_accuracy: 0.9913
Epoch 20/30
19/19 [==============================] - 1s 61ms/step - loss: 0.1967 - accuracy: 0.9138 - val_loss: 0.2286 - val_accuracy: 0.8826
Epoch 21/30
19/19 [==============================] - 1s 60ms/step - loss: 0.1846 - accuracy: 0.9247 - val_loss: 0.1469 - val_accuracy: 0.9696
Epoch 22/30
19/19 [==============================] - 1s 60ms/step - loss: 0.1827 - accuracy: 0.9127 - val_loss: 0.3207 - val_accuracy: 0.8304
Epoch 23/30
19/19 [==============================] - 1s 60ms/step - loss: 0.1675 - accuracy: 0.9258 - val_loss: 0.1843 - val_accuracy: 0.9435
Epoch 24/30
19/19 [==============================] - 1s 61ms/step - loss: 0.1790 - accuracy: 0.9247 - val_loss: 0.4211 - val_accuracy: 0.8043
Epoch 25/30
19/19 [==============================] - 1s 59ms/step - loss: 0.1845 - accuracy: 0.9159 - val_loss: 0.2451 - val_accuracy: 0.8826
Epoch 26/30
19/19 [==============================] - 1s 61ms/step - loss: 0.1644 - accuracy: 0.9301 - val_loss: 0.0886 - val_accuracy: 0.9826
Epoch 27/30
19/19 [==============================] - 1s 61ms/step - loss: 0.1666 - accuracy: 0.9247 - val_loss: 0.2620 - val_accuracy: 0.8826
Epoch 28/30
19/19 [==============================] - 1s 60ms/step - loss: 0.1532 - accuracy: 0.9367 - val_loss: 0.3974 - val_accuracy: 0.7913
Epoch 29/30
19/19 [==============================] - 1s 64ms/step - loss: 0.1824 - accuracy: 0.9214 - val_loss: 0.0806 - val_accuracy: 0.9870
Epoch 30/30
19/19 [==============================] - 1s 61ms/step - loss: 0.1647 - accuracy: 0.9356 - val_loss: 0.1632 - val_accuracy: 0.9478